.nav-item{
    margin: 1px 15px;
    font-weight: bold;
}

.Navbarimg{
    width: 160px;
    height: 160px;
    margin-left: 100px;
}
.col-md-12 .aboutimg{
    width: 1480px;
}
.headingabout{
    position: relative;
    bottom: 600px;
    color: black;
    font-weight: 100;
    left: 200px;
}
.aboutpara{
    position: relative;
    bottom: 300px;
    color: black;
    font-weight: 100;
    left: 490px;
    width: 220px;
    background-color: white;
    border-bottom: black;
    position: absolute;
}
.col-md-12 p{
    width: 220px;
}

.farmaimg24{
    width: 200px;
    height: 150px;
}
.col-md-3 p{
    margin-top: 22px;
    font-weight: 200;
    font-size: 17px;
}
.btn4{
    width: 200px;
    height: 100px;
    background-color: white;
    font-style: italic;
    font-weight: 200;
}
.headingtag{
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(77, 76, 76);
}
.img{
   opacity: .3;
   filter: grayscale();
   margin-left: 320px;
}




.icon{
    margin-left: 780px;
    font-size: 33px;
}